

.footer {
  background-color: #1e3c72;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section,
.footer-links {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.footer-section h3,
.footer-links h3 {
  margin-bottom: 15px;
  color: #fff; 
}

.footer-section p,
.footer-links ul li a {
  color: #fff; 
  margin-bottom: 8px;
  display: block;
  text-decoration: none;
  font-size: 0.95rem;
}


.footer-section p a {
  color: #fff !important;
  text-decoration: none;
}

.footer-section p a:hover {
  color: #fff !important; 
}


.footer-socials a {
  margin-right: 15px;
  color: #fff; 
  font-size: 1.2rem;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: #fff; 
}


.location {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff; 
  font-weight: bold;
}

.location i {
  margin-right: 8px;
  color: #fff; 
}


.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
  font-size: 0.9rem;
  color: #fff;
}

.footer-bottom .developer {
  margin-top: 5px;
  font-size: 0.85rem;
}

.footer-bottom .developer a {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom .developer a:hover {
  color: #fff; 
}



@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
